In [ ]:
df_modelos=pd.read_csv('/content/drive/MyDrive/UClase/Proyecto/Modelos.csv', encoding='windows-1250')

df_modelos.head()

## **Reto de la semana**

Descarga el archivo de Excel de la siguiente liga, la cual deberás subir a tu Drive:https://docs.google.com/spreadsheets/d/1muHS297qH0BfsASI5thANRRy2-zjeODS/edit?usp=sharing&ouid=109463671594466264489&rtpof=true&sd=true

El reto consta de dos partes:

1. Genera un **data frame** llamado `reto` (¡no olvides importar `Pandas` y `Numpy`!) y observa su composición con la función `.head` o `.tail`.
2. Haz, por lo menos, dos **groupby** usando la información del **data frame** `reto`. Puedes experimentar tomando diferentes valores.

In [ ]:
### Ejemplo lectura con pandas.
import pandas as pd
import numpy as np

reto = pd.read_excel('/content/drive/MyDrive/U Class DS - JOSE/data/tarjetasdecredito.xlsx',
                   sheet_name= 'data'
                   )

In [ ]:
reto2 = reto.groupby('credit_card',as_index=False )['credit_card'].size()

In [ ]:
reto2['size'].sum()

1000

In [ ]:
reto2['Proporcion'] = reto2['size'] / reto2['size'].sum()

In [ ]:
reto2.head()

  credit_card  size  Proporcion
0  mastercard   496       0.496
1        visa   504       0.504

In [ ]:
# reto.head()

In [ ]:
# reto.head()
# reto.tail()

# reto.groupby(['credit_card'])['credit_card'].count()
# reto.groupby(['credit_card','city'])['age'].mean()

# reto[reto['age']>50].groupby(['credit_card']).size()
# reto[reto['age']>50].groupby(['credit_card'])['credit_card'].count()


reto.groupby(['credit_card','city'], as_index=False)['age'].mean()

    credit_card           city   age
0    mastercard         Abadou  23.0
1    mastercard         Abaeté  52.0
2    mastercard          Abang  37.0
3    mastercard          Abaza  32.0
4    mastercard         Acaraú  27.0
..          ...            ...   ...
981        visa         Şirvan  48.0
982        visa          Šabac  23.0
983        visa       Živinice  27.0
984        visa       Ḩuraytān  26.0
985        visa  ‘Ayn al ‘Arab  26.0

[986 rows x 3 columns]

In [ ]:
## Material adicional

In [ ]:
# Lectura escritura de csv

pd.read_csv('file.csv')
df.to_csv('myDataFrame.csv')
# df = pd.read_csv('/content/sample_data/california_housing_test.csv')

####################################################

# Lectura Excel.
pd.read_excel('file.xlsx')
df.to_excel('dir/myDataFrame.xlsx',  sheet_name='Sheet1')

####################################################

# Lectura Multiples Exceles.
xlsx = pd.ExcelFile('file.xls')
df = pd.read_excel(xlsx,  'Sheet1')


## loop entre las hojas de un excel.

## definir donde se va a guardar.
df_final = pd.DataFrame()

# vamos hoja por hoja y guardamos
# 'Sheet1' 'Sheet2' 'Sheet3' 'Sheet4'

for sheet in xlsx.sheet_names:
# convertirmos la hoja a dataframe y apilamos
    df = pd.read_excel(xlsx, sheet_name=sheet)
    df_final = df_final.append(df)

## guardamos
df_final.to_csv('concentrado.csv')

####################################################

## SQL

from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')


engine = sqlalchemy.create_engine(
    sqlalchemy.engine.url.URL(
        drivername="postgresql",
        username="username",
        password="password",
        host="host",
        port="port",
        database="database",
    ),
    echo_pool=True,
)

print("connecting with engine " + str(engine))
connection = engine.connect()


pd.read_sql("SELECT * FROM my_table;", engine)
pd.read_sql_table('my_table', engine)
pd.read_sql_query("SELECT * FROM my_table;", engine)
df.to_sql('myDf', engine)

In [ ]:
import pandas as pd
link = "https://id.wikipedia.org/wiki/Demografi_Indonesia"

tables = pd.read_html(link,header=0)[2]
# tables.to_csv('tabla_wikipedia')

In [ ]:
tables.head()

   Nama provinsi Luas (km²)[11] Populasi (2010)[12] Populasi (2020)[9]
0           Aceh      56.500,51           4.494.410          5.274.871
1  Sumatra Utara      72.427,81          12.982.204         14.799.361
2  Sumatra Barat      42.224,65           4.846.909          5.534.472
3           Riau      87.844,23           5.538.367          6.394.087
4          Jambi      45.348,49           3.092.265          3.548.228

In [ ]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

url = "https://api.exchangerate-api.com/v4/latest/USD"
df = pd.read_json(url)
print(df)

In [ ]:
# "https://api.covid19api.com/summary"
data_json = requests.get(url).json()

In [ ]:
# data_json

In [ ]:
import pandas as pd
import pandasql as ps
import numpy as np

In [ ]:
df = pd.DataFrame([[1234, 'Customer A', '123 Street', np.nan],
               [1234, 'Customer A', np.nan, '333 Street'],
               [1233, 'Customer B', '444 Street', '333 Street'],
              [1233, 'Customer B', '444 Street', '666 Street']], columns=
['ID', 'Customer', 'Billing Address', 'Shipping Address'])


q1 = 'SELECT ID FROM df '

print(ps.sqldf(q1, locals()))

     ID
0  1234
1  1234
2  1233
3  1233

In [ ]:


## Ejemplo de sentencias SQL 

## Todos los campos de la tabla Customers donde la columna City sea Paris o London
SELECT * FROM Customers
WHERE City IN ('Paris','London');


## Todos los campos de la tabla Customers donde Country sea Paris o London
SELECT * FROM Customers
WHERE Country = 'UK';


## 
SELECT * FROM Products
WHERE Price > 5 AND 
Price <= 20;


SELECT * FROM Orders
WHERE CustomerID = 34;


## Repuestas 
SELECT * FROM Orders
WHERE CustomerID = 84;

SELECT * FROM [Orders]
WHERE ORDERDATE LIKE '%-07-%'


SELECT * FROM Custumers
WHERE Country LIKE '%xico'



SELECT * FROM Customers
WHERE Country = 'Mexico';



SELECT state, count(name)
FROM df
GROUP BY state
ORDER BY state;


SELECT Country, count(CustomerName) as Count
FROM Customers
GROUP BY Country
ORDER BY Country;



SELECT state, gender, count(name)
FROM df
GROUP BY state, gender
ORDER BY state, gender;


SELECT Country, City, count(CustomerName) as Count
FROM Customers
GROUP BY Country, City
ORDER BY Country, City;